.text-decoration-none:hover{
   text-decoration: underline !important;
}

.text-secondary{
   color: #b2bbc4 !important;
}

.tokenIcon{
   width: 2.4rem;
}

.dataDropdown{
   max-height: 30rem;
   overflow-y: auto;
}

.datatable-container{
   overflow-x: auto;
}

.datatable-sorter::before,
.datatable-sorter::after
{
   border-color: white;
}

.datatable-input{
   border-radius: 0.25rem;
}

[data-pin]{
   cursor: pointer;
}

#chainImg{
   width: 5rem;
}

#allAddresses{
   height: 1.3rem;
   width: 1.3rem;
}

.grayscale{
   filter: grayscale(100%);
}

.coingeckoIcon{
   width: 1rem;
}