.text-decoration-none:hover{
   text-decoration: underline !important;
}

.link-secondary{
   color: #bdc1c4;
}

.tokenIcon{
   width: 2.4rem;
}

#chainImg{
   width: 5rem;
}

#allAddresses{
   height: 1.3rem;
   width: 1.3rem;
}

[data-select]{
   max-height: 30rem;
   overflow-y: auto;
}